spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://mongo:27017/planifi}
management:
  endpoint:
    health:
      show-details: never
planifi:
  security:
    api-key-header: ${PLANIFI_SECURITY_API_KEY_HEADER:X-API-Key}
    static-keys: ${PLANIFI_SECURITY_API_KEYS:}
    jwt:
      issuer: ${PLANIFI_SECURITY_JWT_ISSUER:planifi-backend}
      secret: ${PLANIFI_SECURITY_JWT_SECRET}
      expiration-minutes: ${PLANIFI_SECURITY_JWT_EXPIRATION_MINUTES:60}
